@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Parkinsans:wght@300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.navbar {
  width: 100%;
  -webkit-box-shadow: 3px 11px 18px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 11px 18px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 11px 18px 0px rgba(0, 0, 0, 0.75);
  padding: 10px 2rem;
  align-items: center;
  display: flex;
  align-items: center;
  z-index: 25;
  background-color: var(--mainBg);
  position: sticky;
  top: 0;
}

.logoDiv {
  display: flex;
  align-items: center;
  width: 15%;
}

.logoDiv > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logoDiv > div > h2,
.logoDiv > div > p {
  font-family: 'Parkinsans';
  text-transform: uppercase;
}

/* Links */
.links {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.links > ul a {
  font-size: 1.125rem;
}

.links > ul a:before,
.links > ul a:after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.links > ul a:before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

.links > ul a:after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.links > ul a:hover:before,
.links > ul a:hover:after,
.links > ul a:focus:before,
.links > ul a:focus:after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

.activeLink {
  color: var(--mainPink);
}

.activeLink:before,
.activeLink:after {
  color: var(--mainPink);
  opacity: 1 !important;
  -webkit-transform: translateX(0px) !important;
  -moz-transform: translateX(0px) !important;
  transform: translateX(0px) !important;
}

/* actions */

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.connect {
  cursor: pointer;
  border: none;
  background-color: var(--mainPink);
  color: white;
  border-radius: 4px;
  padding: 10px 60px;
}

.connect {
  display: inline-block;
  overflow: hidden;
  position: relative;
  padding: 0;
}

.connect:before,
.connect:after {
  content: '';
  width: 100%;
  height: 0;
  background: var(--mainBg);
  position: absolute;
  top: 0;
  right: -50%;
  transform: rotate(45deg);
  transition: all 0.3s ease 0s;
}

.connect:after {
  border: none;
  top: auto;
  right: auto;
  bottom: 0;
  left: -50%;
}

.connect:hover:before,
.connect:hover:after {
  height: 40%;
}

.connect > span {
  display: block;
  padding: 10px 15px;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  z-index: 1;
}

/* Responsivo */

.hamburger {
  margin: 2rem;
  display: none;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
}
.barTop,
.barMiddle,
.barBottom {
  height: 5px;
  background: white;
  border-radius: 5px;
  margin: 3px 0;
  transform-origin: left;
  transition: all 0.5s;
}

.closeHamburger .barTop {
  transform: rotate(45deg);
}
.closeHamburger .barMiddle {
  transform: translateX(1rem);
  opacity: 0;
}
.closeHamburger .barBottom {
  transform: rotate(-45deg);
}

@media screen and (max-width: 1024px) {
  .navbar {
    justify-content: space-between;
  }
  .logoDiv {
    width: auto;
  }
  .links {
    display: flex;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: auto;
    flex-direction: column;
    align-items: center;
    padding: 6rem 2rem;
    background-color: var(--mainBg);
    z-index: 99;
  }
  .hamburger {
    display: flex;
  }

  .links.mobileMenu {
    transform: translateX(0);
  }

  .links > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
  .links .actions {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
